<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialengineaddons.messenger">

    <application
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MessengerTheme">
        <activity
            android:name=".MessengerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity
            android:name=".conversation.ConversationActivity"
            android:theme="@style/ConversationMessengerTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiimageselector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".conversation.view.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".conversation.NewConversationActivity"
            android:label="@string/new_group"
            android:theme="@style/MessengerTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".user.BlockedContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme"
            android:label="@string/blocked_users" />

        <service
            android:name=".service.MusicService"
            android:enabled="true" />

        <activity
            android:name=".groups.GroupDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme"
            android:label="@string/group_profile" />
        <activity android:name=".search.SearchContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".user.userProfile"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme"
            android:label="@string/profile_activity_label" />

    </application>

</manifest>
